* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

#wrapper {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

#guessField {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin: 10px 0px;
}

.resultParas {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  width: 100%;
}
